<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Get Er Assigned!</title>
    <link rel="stylesheet" href="/static/get-er-done.css"/>
  </head>
  <body>
    <a href='/logout'>logout</a>
    <a href='/'>my tasks</a>
    <header>
      <h1>Tasks Assigned</h1>
    </header>
    <a href='/create'>create new task</a>
    <table>
      <tr>
        <th>user id</th>
        <th>task id</th>
        <th>title</th>
        <th>priority id</th>
        <th>status</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.user_id }}</td>
        <td align='right'>{{ task.order }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.done }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
