<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Get Er Assigned!</title>
    <link rel="stylesheet" href="/static/get-er-done.css"/>
  </head>

  <body>

    <div id="get-er-assigned">

      <header>
	<h1>Assigned Tasks</h1>
	<input id="new-assigned-task" type="text" placeholder="New task">
      </header>

      <section id="main">
	<input id="toggle-all" type="checkbox">
	<label for="toggle-all">Mark all complete</label>
	<ul id="get-er-assigned-list"></ul>
      </section>

    </div>
  </body>
</html>
