<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Get Er Done!</title>
    <link rel="stylesheet" href="/static/get-er-done.css"/>
  </head>

  <body>

    <div id="loading">
      <img src="assets/loading.svg" alt="Loading spinner">
    </div>

    <div class="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <table width='100%'>
            <tr><td>
	      <h1>GetErDone-SPA</h1><br/>
              <label>{{ site_state }}<label>
            </td><td align='right'>
              <button id="btn-login" class="btn btn-primary btn-margin">
                Log In
              </button>

              <button id="btn-logout" class="btn btn-primary btn-margin">
                  Log Out
              </button>
            </td></tr>
            </table>
          </div>
        </div>
      </nav>

      <div id="get-er-done-spa-view">
        <div id="get-er-done-spa">
          <header>
	    <h1>Assigned Tasks</h1>
	    <input id="new-self-task" type="text" placeholder="New self task">
          </header>

          <section id="main">
            <input id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all complete</label>
            <ul id="get-er-done-spa-list"></ul>
          </section>

          <footer>
            <a id="clear-completed">Clear completed</a>
            <div id="todo-count"></div>
          </footer>

        </div>

        <div id='instructions'>
           Double click a task to edit the title.
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="get-er-done/script"></script>

    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>

    <script type="text/template" id="item-template">
      <div class="view">
	<input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
	<select class="choosePriority" name="priority">
            <option value="normal" <%= priority === "normal" ? 'selected="true"' : '' %> >normal</option>
            <option value="high" <%= priority === "high" ? 'selected="true"' : '' %> >high</option>
            <option value="low" <%= priority === "low" ? 'selected="true"' : '' %> >low</option>
        </select>
	<label><%- title %></label>
	<a class="destroy"></a>
      </div>
      <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
      <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
      <% } %>
      <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
    </script>

  </body>
</html>
